
*{
box-sizing: border-box;
}
body{
    /* Imatge de fons de la pagina */
    background-image:url('/img/fons.jpg');
    height: 100%;
    margin:0;
    padding:0;
    text-align:center;
    font-size:16px;
}
main{
    background-image:url('./img/fons_pelis.png');
    padding-left: 10px;
    margin: auto;
    width:680px;
}
/* Propietats del contenidor */
#list-films{
    padding-left :15px;
    text-align: left;
}
/* Propietats del titol de la pagina */
h1{
font:bold italic 1.4rem Arial;
color :#fff;
background:url('../img/palomita.png') no-repeat 7px 7px;
padding: 10px 0px 30px 40px;
background-color: hsl(208, 83%, 18%);
text-align: left;
margin-left:15px;
}
/* Classe de l'etiqueta article de cada pel-licula*/
.pelicula{

height:140px;

text-align: left;

background-color: #ffffff;

padding: 5px;

margin:15px;

display: flex;

border-radius: 5px;

}
.pelicula h2{

padding:0;

padding-top:10px;

margin: 3px;

font:bold 1.2rem Arial;

color : #083256;

}
.pelicula div{
    margin-left: 10px;
    }
.pelicula .img {
    width: 112px;
}
.pelicula a:hover{
    color:orange;
    }
    
.pelicula a{
color:blue;
}
.pelicula p{
    padding:0;
    margin:3px;
    font:normal 1rem Arial;
    color: #083256;
    padding-bottom: 20px;
    line-height: 1.5;
    }